html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
  background-color: #eeeeee;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#__next {
  min-height: 100vh;
}

.header {
  background-color: #eeeeee;
  border-bottom: 1px solid #cccccc;
  position: sticky;
  top: 0;
  z-index: 100;
  .navbar {
    padding-inline: 1rem;
    max-width: 1100px;
    margin-inline: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__logo {
      width: 10rem;
    }
    &__title {
      text-align: end;
      width: 10rem;
    }
    .nav-links {
      display: flex;
      list-style: none;
      &__link {
        cursor: pointer;
        padding: 1rem;
        &:hover {
          background-color: #e0dfdf;
        }
      }
    }
  }
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: calc(100vh - 6rem);
}

.hero {
  z-index: 0;
}

.featured {
  padding: 2rem;
  margin-block: auto;
  margin-inline: 1rem;
  height: 100%;
  max-width: 100%;
  text-align: center;
  border-radius: 0.2rem;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 100;
  &__title {
    font-size: 26pt;
    color: #333;
    margin-bottom: 3rem;
    position: relative;
  }
  .featured-products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    .featured-card {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      max-width: 20rem;
    }
  }
}

.product {
  max-width: 1100px;
  margin-top: 3rem;
  margin-inline: 1rem;
  display: flex;
  gap: 1rem;
  max-width: 50rem;
  border-radius: 0.4rem;
  box-shadow: 0 0.2rem 1rem 0.4rem rgba(0, 0, 0, 0.1);
  padding: 1rem;
  .col-left {
    width: 50%;
  }
  .col-right {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .content {
      height: 100%;
      margin-inline: 0.5rem;
      &__title {
        margin-top: 1rem;
      }
      &__divider {
        margin-block: 1rem;
      }
      &__description {
      }
    }
    .product-data {
      .category-list {
        margin-top: 1rem;
        &__category {
        }
      }
      .rating-wrapper {
        width: 60%;
        margin-right: 0;
        display: flex;
        align-items: center;
        &__rating {
        }
        &__count {
        }
      }
    }
    .price-and-stock {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      margin-inline: 0.5rem;
      margin-block: 1rem;
      &__price {
        font-size: 19pt;
      }
      &__stock {
      }
    }
    &__button {
      height: 4rem;
    }
  }
}

.products {
  max-width: 1100px;
  margin-inline: 1rem;
  margin-bottom: 5rem;
  &__title {
    margin-block: 1rem;
    text-align: center;
  }
  .product-list {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
  }
}

.footer {
  position: sticky;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #333;
  text-align: center;
  padding: 1rem;
  color: #fff;
  font-size: 0.5rem;
  letter-spacing: 0.8px;
}

.cart {
  padding: 2rem;
  width: 100%;
}

.summary {
  width: 100%;
  background-color: #d7d6d6;
  padding: 2rem;
}

.flex-wrapper__summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.products-details {
  padding: 2rem;
}

.products-details__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

table {
  text-align: left;
  width: 100%;
}
th {
  padding: 0.5rem;
}

td {
  padding: 0.5rem;
  vertical-align: top;
}

.flex-wrapper {
  display: flex;
  align-items: center;
  align-items: flex-start;
  vertical-align: top;
  gap: 2rem;
  p {
    margin: 0;
    margin-bottom: 1rem;
  }
}

@media only screen and (max-width: 700px) {
  table {
    // display: flex;
    text-align: left;
    width: 100%;
  }
  td {
    display: flex;
    flex-direction: row;
  }
}
@media only screen and (min-width: 700px) {
  // thead {
  //     display: unset;
  // }
}
@media only screen and (min-width: 900px) {
  .cart {
    display: grid;
    grid-template-columns: 3fr 2fr;
  }
  .summary {
    min-width: 300px;
  }
}

// @media only screen and (min-width: 600px) {
//     .products-list {
//         grid-template-columns: repeat(2, 1fr);
//     }
//     .product {
//         display: flex;
//         gap: 2rem;
//     }
//     .col-right {
//         display: flex;
//         flex-direction: column;
//         justify-content: space-between;
//         margin: 0;
//     }
// }

// @media only screen and (min-width: 800px) {
//     .products-list {
//         grid-template-columns: repeat(3, 1fr);
//     }
// }
